<footer class="bg-body-primary text-center text-lg-start">
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
		<p class="text-center">©{{ "now"|date("Y") }} Copyright</p>
	</div>
</footer>