<form class= "mx-auto col-4 mb-4" method="post" action="{{ path('app_image_delete', {'id': image.id}) }}" onsubmit="return confirm('Vous entez sur de vouloir de suprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn btn-outline-dark btn-primary">Supprimer Image</button>
</form>
