{% extends 'base.html.twig' %}

{% block title %}Ajouter Image{% endblock %}

{% block body %}
    <h1>Ajouter une Image</h1>

    {{ include('image/_form.html.twig') }}
	<a class="btn btn-outline-dark btn-primary mb-3" href="{{ path('app_dossier_medical_index') }}">Retour à la liste</a>

    {# <a class="btn btn-outline-dark btn-primary mb-3"  href="{{ path('app_image_index') }}">Retour à la liste</a> #}
{% endblock %}
