{% extends 'base.html.twig' %}

{% block title %}Ajouter Observation{% endblock %}

{% block body %}
    <h1>Ajouter une Observation</h1>

    {{ include('observation/_form.html.twig') }}

    <a class="btn btn-outline-dark btn-primary mb-3"  href="{{ path('app_observation_index') }}">Retour à la liste</a>
{% endblock %}
