section {
  background-color: skyblue;
  width: 10%;
  height: 100vh;
  position: fixed;
  top: 8%;
  left: 0;
  padding-top: 10vh;
  z-index: 0;
}

a.btn {
  background-color: #3b71ca;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: flex;
  width: 15vh;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
}

body {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 15%;
  left: 11%;
  width: 80%;
  height: 92%;
  overflow: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  z-index: -1;
}
#nav {
  background-color: skyblue;
  color: white;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: max-content;
}
#logo-text {
  font-size: 2.5vh;
  margin-left: 20vh;
  line-height: 10vh;
}
#dropdown {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
footer {
  background-color: skyblue;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
#button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 11vh 0;
}
a.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  margin: 2vh 10vh 5vh 10vh;
  font-size: 3vh;
}
#logo {
  width: 100px;
  height: 100px;
    position: absolute;
    top: 1vh;
    left: 3vh;
}
#nom_site{
    font-size: 38px;
    color: #3b71ca;
    font-weight: bold;
}
.form-check-input {
  z-index: 0 !important;
}