<form class= "mx-auto col-4 mb-4" method="post" action="{{ path('app_rdv_delete', {'id': rdv.id}) }}" onsubmit="return confirm('Vous entez sur de vouloir de suprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rdv.id) }}">
    <button class="btn btn-outline-dark btn-primary">Supprimer RDV</button>
</form>
